[
    Module,
    Body,
    Ident("Test"),
    Is,
    Function,
    Ident("main"),
    LParen,
    RParen,
    Colon,
    Ident("ExitCode"),
    Is,
    Var,
    Ident("x"),
    Colon,
    Ident("Int32"),
    Assign,
    Decimal(10),
    Semi,
    Ident("x"),
    Assign,
    Decimal(20),
    Semi,
    Ident("printLn"),
    LParen,
    Ident("x"),
    RParen,
    Semi,
    Return,
    Ident("ExitSuccess"),
    LParen,
    RParen,
    Semi,
    End,
    Semi,
    End,
    Module,
    Body,
    Period,
]
