[
    Module,
    Body,
    Ident("Test"),
    Is,
    Function,
    Ident("main"),
    LParen,
    RParen,
    Colon,
    Ident("ExitCode"),
    Is,
    Ident("printLn"),
    LParen,
    String("Start"),
    RParen,
    Semi,
    For,
    Ident("i"),
    From,
    Decimal(0),
    To,
    Decimal(2),
    Do,
    If,
    Ident("i"),
    Eq,
    Decimal(0),
    Then,
    Ident("printLn"),
    LParen,
    String("0"),
    RParen,
    Semi,
    Else,
    If,
    Ident("i"),
    Eq,
    Decimal(1),
    Then,
    Ident("printLn"),
    LParen,
    String("1"),
    RParen,
    Semi,
    Else,
    Ident("printLn"),
    LParen,
    String("Not 0 or 1"),
    RParen,
    Semi,
    End,
    If,
    Semi,
    End,
    For,
    Semi,
    Ident("printLn"),
    LParen,
    String("End"),
    RParen,
    Semi,
    Return,
    Ident("ExitSuccess"),
    LParen,
    RParen,
    Semi,
    End,
    Semi,
    End,
    Module,
    Body,
    Period,
]
