[
    Module,
    Body,
    Ident("Test"),
    Is,
    Function,
    Ident("Print_Char"),
    LParen,
    Ident("c"),
    Colon,
    Ident("Nat8"),
    RParen,
    Colon,
    Ident("Unit"),
    Is,
    Return,
    Embed,
    LParen,
    Ident("Unit"),
    Comma,
    String("au_printf(\"%c\", $1)"),
    Comma,
    Ident("c"),
    RParen,
    Semi,
    End,
    Semi,
    Function,
    Ident("main"),
    LParen,
    RParen,
    Colon,
    Ident("ExitCode"),
    Is,
    Let,
    Ident("arr"),
    Colon,
    SpanRead,
    LBracket,
    Ident("Nat8"),
    Comma,
    Ident("Static"),
    RBracket,
    Assign,
    String("Hello, world!"),
    Semi,
    Let,
    Ident("n"),
    Colon,
    Ident("Index"),
    Assign,
    Ident("spanLength"),
    LParen,
    Ident("arr"),
    RParen,
    Sub,
    Decimal(1),
    Semi,
    Embed,
    LParen,
    Ident("Unit"),
    Comma,
    String("au_printf(\"Length: %i\\n\", $1)"),
    Comma,
    Ident("n"),
    RParen,
    Semi,
    For,
    Ident("i"),
    From,
    Decimal(0),
    To,
    Ident("n"),
    Do,
    Embed,
    LParen,
    Ident("Unit"),
    Comma,
    String("au_printf(\"%i = '%c'\\n\", $1, $2)"),
    Comma,
    Ident("i"),
    Comma,
    Ident("arr"),
    LBracket,
    Ident("i"),
    RBracket,
    RParen,
    Semi,
    End,
    For,
    Semi,
    Ident("Print_Char"),
    LParen,
    Char('"'),
    RParen,
    Semi,
    For,
    Ident("i"),
    From,
    Decimal(0),
    To,
    Ident("n"),
    Do,
    Ident("Print_Char"),
    LParen,
    Ident("arr"),
    LBracket,
    Ident("i"),
    RBracket,
    RParen,
    Semi,
    End,
    For,
    Semi,
    Ident("Print_Char"),
    LParen,
    Char('"'),
    RParen,
    Semi,
    Return,
    Ident("ExitSuccess"),
    LParen,
    RParen,
    Semi,
    End,
    Semi,
    End,
    Module,
    Body,
    Period,
]
