[
    Module,
    Body,
    Ident("Test"),
    Is,
    Function,
    Ident("main"),
    LParen,
    Ident("root"),
    Colon,
    Ident("RootCapability"),
    RParen,
    Colon,
    Ident("ExitCode"),
    Is,
    Ident("surrenderRoot"),
    LParen,
    Ident("root"),
    RParen,
    Semi,
    Return,
    Ident("ExitSuccess"),
    LParen,
    RParen,
    Semi,
    End,
    Semi,
    End,
    Module,
    Body,
    Period,
]
