[
    Module,
    Body,
    Ident("Test"),
    Is,
    Function,
    Ident("main"),
    LParen,
    Ident("root"),
    Colon,
    Ident("RootCapability"),
    RParen,
    Colon,
    Ident("ExitCode"),
    Is,
    Ident("print"),
    LParen,
    String("Number of CLI arguments = "),
    RParen,
    Semi,
    Ident("printLn"),
    LParen,
    Ident("argumentCount"),
    LParen,
    RParen,
    RParen,
    Semi,
    For,
    Ident("i"),
    From,
    Decimal(0),
    To,
    LParen,
    Ident("argumentCount"),
    LParen,
    RParen,
    Sub,
    Decimal(1),
    RParen,
    Do,
    Ident("print"),
    LParen,
    String("    i = "),
    RParen,
    Semi,
    Ident("printLn"),
    LParen,
    Ident("i"),
    RParen,
    Semi,
    Ident("print"),
    LParen,
    String("    i-th arg = "),
    RParen,
    Semi,
    Ident("printLn"),
    LParen,
    Ident("nthArgument"),
    LParen,
    Ident("i"),
    RParen,
    RParen,
    Semi,
    End,
    For,
    Semi,
    Ident("surrenderRoot"),
    LParen,
    Ident("root"),
    RParen,
    Semi,
    Return,
    Ident("ExitSuccess"),
    LParen,
    RParen,
    Semi,
    End,
    Semi,
    End,
    Module,
    Body,
    Period,
]
