[
    Module,
    Body,
    Ident("Test"),
    Is,
    Record,
    Ident("PollMap"),
    Colon,
    Universe(Linear),
    Is,
    Ident("b"),
    Colon,
    Ident("B"),
    Semi,
    End,
    Semi,
    Record,
    Ident("C"),
    LBracket,
    Ident("X"),
    Colon,
    Universe(Type),
    RBracket,
    Colon,
    Universe(Type),
    Is,
    Ident("x"),
    Colon,
    Ident("X"),
    Semi,
    End,
    Semi,
    Record,
    Ident("B"),
    Colon,
    Universe(Linear),
    Is,
    Ident("xs"),
    Colon,
    Ident("C"),
    LBracket,
    Ident("Nat32"),
    RBracket,
    Semi,
    End,
    Semi,
    Function,
    Ident("main"),
    LParen,
    RParen,
    Colon,
    Ident("ExitCode"),
    Is,
    Ident("printLn"),
    LParen,
    String("Start"),
    RParen,
    Semi,
    Sub,
    Sub,
    If,
    Ident("it"),
    Ident("compiles"),
    Comma,
    Then,
    Ident("this"),
    Ident("test"),
    Is,
    Ident("a"),
    Ident("success"),
    Ident("printLn"),
    LParen,
    String("End"),
    RParen,
    Semi,
    Return,
    Ident("ExitSuccess"),
    LParen,
    RParen,
    Semi,
    End,
    Semi,
    End,
    Module,
    Body,
    Period,
]
