[
    Module,
    Body,
    Ident("Test"),
    Is,
    Function,
    Ident("toFloat32Test"),
    LParen,
    RParen,
    Colon,
    Ident("Unit"),
    Is,
    Ident("printLn"),
    LParen,
    String("Float32"),
    RParen,
    Semi,
    Ident("print"),
    LParen,
    String("    Float64(0) = "),
    RParen,
    Semi,
    Case,
    Ident("toFloat32"),
    LParen,
    Float(0.0),
    Colon,
    Ident("Float64"),
    RParen,
    Of,
    When,
    Ident("Some"),
    LParen,
    Ident("value"),
    Colon,
    Ident("Float32"),
    RParen,
    Do,
    Ident("printLn"),
    LParen,
    Ident("value"),
    RParen,
    Semi,
    When,
    Ident("None"),
    Do,
    Ident("printLn"),
    LParen,
    String("FAIL"),
    RParen,
    Semi,
    End,
    Case,
    Semi,
    Ident("print"),
    LParen,
    String("    Nat8(0) = "),
    RParen,
    Semi,
    Case,
    Ident("toFloat32"),
    LParen,
    Decimal(0),
    Colon,
    Ident("Nat8"),
    RParen,
    Of,
    When,
    Ident("Some"),
    LParen,
    Ident("value"),
    Colon,
    Ident("Float32"),
    RParen,
    Do,
    Ident("printLn"),
    LParen,
    Ident("value"),
    RParen,
    Semi,
    When,
    Ident("None"),
    Do,
    Ident("printLn"),
    LParen,
    String("FAIL"),
    RParen,
    Semi,
    End,
    Case,
    Semi,
    Ident("print"),
    LParen,
    String("    Nat16(0) = "),
    RParen,
    Semi,
    Case,
    Ident("toFloat32"),
    LParen,
    Decimal(0),
    Colon,
    Ident("Nat16"),
    RParen,
    Of,
    When,
    Ident("Some"),
    LParen,
    Ident("value"),
    Colon,
    Ident("Float32"),
    RParen,
    Do,
    Ident("printLn"),
    LParen,
    Ident("value"),
    RParen,
    Semi,
    When,
    Ident("None"),
    Do,
    Ident("printLn"),
    LParen,
    String("FAIL"),
    RParen,
    Semi,
    End,
    Case,
    Semi,
    Ident("print"),
    LParen,
    String("    Nat32(0) = "),
    RParen,
    Semi,
    Case,
    Ident("toFloat32"),
    LParen,
    Decimal(0),
    Colon,
    Ident("Nat32"),
    RParen,
    Of,
    When,
    Ident("Some"),
    LParen,
    Ident("value"),
    Colon,
    Ident("Float32"),
    RParen,
    Do,
    Ident("printLn"),
    LParen,
    Ident("value"),
    RParen,
    Semi,
    When,
    Ident("None"),
    Do,
    Ident("printLn"),
    LParen,
    String("FAIL"),
    RParen,
    Semi,
    End,
    Case,
    Semi,
    Ident("print"),
    LParen,
    String("    Nat64(0) = "),
    RParen,
    Semi,
    Case,
    Ident("toFloat32"),
    LParen,
    Decimal(0),
    Colon,
    Ident("Nat64"),
    RParen,
    Of,
    When,
    Ident("Some"),
    LParen,
    Ident("value"),
    Colon,
    Ident("Float32"),
    RParen,
    Do,
    Ident("printLn"),
    LParen,
    Ident("value"),
    RParen,
    Semi,
    When,
    Ident("None"),
    Do,
    Ident("printLn"),
    LParen,
    String("FAIL"),
    RParen,
    Semi,
    End,
    Case,
    Semi,
    Ident("print"),
    LParen,
    String("    Int8(0) = "),
    RParen,
    Semi,
    Case,
    Ident("toFloat32"),
    LParen,
    Decimal(0),
    Colon,
    Ident("Int8"),
    RParen,
    Of,
    When,
    Ident("Some"),
    LParen,
    Ident("value"),
    Colon,
    Ident("Float32"),
    RParen,
    Do,
    Ident("printLn"),
    LParen,
    Ident("value"),
    RParen,
    Semi,
    When,
    Ident("None"),
    Do,
    Ident("printLn"),
    LParen,
    String("FAIL"),
    RParen,
    Semi,
    End,
    Case,
    Semi,
    Ident("print"),
    LParen,
    String("    Int16(0) = "),
    RParen,
    Semi,
    Case,
    Ident("toFloat32"),
    LParen,
    Decimal(0),
    Colon,
    Ident("Int16"),
    RParen,
    Of,
    When,
    Ident("Some"),
    LParen,
    Ident("value"),
    Colon,
    Ident("Float32"),
    RParen,
    Do,
    Ident("printLn"),
    LParen,
    Ident("value"),
    RParen,
    Semi,
    When,
    Ident("None"),
    Do,
    Ident("printLn"),
    LParen,
    String("FAIL"),
    RParen,
    Semi,
    End,
    Case,
    Semi,
    Ident("print"),
    LParen,
    String("    Int32(0) = "),
    RParen,
    Semi,
    Case,
    Ident("toFloat32"),
    LParen,
    Decimal(0),
    Colon,
    Ident("Int32"),
    RParen,
    Of,
    When,
    Ident("Some"),
    LParen,
    Ident("value"),
    Colon,
    Ident("Float32"),
    RParen,
    Do,
    Ident("printLn"),
    LParen,
    Ident("value"),
    RParen,
    Semi,
    When,
    Ident("None"),
    Do,
    Ident("printLn"),
    LParen,
    String("FAIL"),
    RParen,
    Semi,
    End,
    Case,
    Semi,
    Ident("print"),
    LParen,
    String("    Int64(0) = "),
    RParen,
    Semi,
    Case,
    Ident("toFloat32"),
    LParen,
    Decimal(0),
    Colon,
    Ident("Int64"),
    RParen,
    Of,
    When,
    Ident("Some"),
    LParen,
    Ident("value"),
    Colon,
    Ident("Float32"),
    RParen,
    Do,
    Ident("printLn"),
    LParen,
    Ident("value"),
    RParen,
    Semi,
    When,
    Ident("None"),
    Do,
    Ident("printLn"),
    LParen,
    String("FAIL"),
    RParen,
    Semi,
    End,
    Case,
    Semi,
    Return,
    Nil,
    Semi,
    End,
    Semi,
    Function,
    Ident("toFloat64Test"),
    LParen,
    RParen,
    Colon,
    Ident("Unit"),
    Is,
    Ident("printLn"),
    LParen,
    String("Float64"),
    RParen,
    Semi,
    Ident("print"),
    LParen,
    String("    Float32(0) = "),
    RParen,
    Semi,
    Case,
    Ident("toFloat64"),
    LParen,
    Float(0.0),
    Colon,
    Ident("Float32"),
    RParen,
    Of,
    When,
    Ident("Some"),
    LParen,
    Ident("value"),
    Colon,
    Ident("Float64"),
    RParen,
    Do,
    Ident("printLn"),
    LParen,
    Ident("value"),
    RParen,
    Semi,
    When,
    Ident("None"),
    Do,
    Ident("printLn"),
    LParen,
    String("FAIL"),
    RParen,
    Semi,
    End,
    Case,
    Semi,
    Ident("print"),
    LParen,
    String("    Nat8(0) = "),
    RParen,
    Semi,
    Case,
    Ident("toFloat64"),
    LParen,
    Decimal(0),
    Colon,
    Ident("Nat8"),
    RParen,
    Of,
    When,
    Ident("Some"),
    LParen,
    Ident("value"),
    Colon,
    Ident("Float64"),
    RParen,
    Do,
    Ident("printLn"),
    LParen,
    Ident("value"),
    RParen,
    Semi,
    When,
    Ident("None"),
    Do,
    Ident("printLn"),
    LParen,
    String("FAIL"),
    RParen,
    Semi,
    End,
    Case,
    Semi,
    Ident("print"),
    LParen,
    String("    Nat16(0) = "),
    RParen,
    Semi,
    Case,
    Ident("toFloat64"),
    LParen,
    Decimal(0),
    Colon,
    Ident("Nat16"),
    RParen,
    Of,
    When,
    Ident("Some"),
    LParen,
    Ident("value"),
    Colon,
    Ident("Float64"),
    RParen,
    Do,
    Ident("printLn"),
    LParen,
    Ident("value"),
    RParen,
    Semi,
    When,
    Ident("None"),
    Do,
    Ident("printLn"),
    LParen,
    String("FAIL"),
    RParen,
    Semi,
    End,
    Case,
    Semi,
    Ident("print"),
    LParen,
    String("    Nat32(0) = "),
    RParen,
    Semi,
    Case,
    Ident("toFloat64"),
    LParen,
    Decimal(0),
    Colon,
    Ident("Nat32"),
    RParen,
    Of,
    When,
    Ident("Some"),
    LParen,
    Ident("value"),
    Colon,
    Ident("Float64"),
    RParen,
    Do,
    Ident("printLn"),
    LParen,
    Ident("value"),
    RParen,
    Semi,
    When,
    Ident("None"),
    Do,
    Ident("printLn"),
    LParen,
    String("FAIL"),
    RParen,
    Semi,
    End,
    Case,
    Semi,
    Ident("print"),
    LParen,
    String("    Nat64(0) = "),
    RParen,
    Semi,
    Case,
    Ident("toFloat64"),
    LParen,
    Decimal(0),
    Colon,
    Ident("Nat64"),
    RParen,
    Of,
    When,
    Ident("Some"),
    LParen,
    Ident("value"),
    Colon,
    Ident("Float64"),
    RParen,
    Do,
    Ident("printLn"),
    LParen,
    Ident("value"),
    RParen,
    Semi,
    When,
    Ident("None"),
    Do,
    Ident("printLn"),
    LParen,
    String("FAIL"),
    RParen,
    Semi,
    End,
    Case,
    Semi,
    Ident("print"),
    LParen,
    String("    Int8(0) = "),
    RParen,
    Semi,
    Case,
    Ident("toFloat64"),
    LParen,
    Decimal(0),
    Colon,
    Ident("Int8"),
    RParen,
    Of,
    When,
    Ident("Some"),
    LParen,
    Ident("value"),
    Colon,
    Ident("Float64"),
    RParen,
    Do,
    Ident("printLn"),
    LParen,
    Ident("value"),
    RParen,
    Semi,
    When,
    Ident("None"),
    Do,
    Ident("printLn"),
    LParen,
    String("FAIL"),
    RParen,
    Semi,
    End,
    Case,
    Semi,
    Ident("print"),
    LParen,
    String("    Int16(0) = "),
    RParen,
    Semi,
    Case,
    Ident("toFloat64"),
    LParen,
    Decimal(0),
    Colon,
    Ident("Int16"),
    RParen,
    Of,
    When,
    Ident("Some"),
    LParen,
    Ident("value"),
    Colon,
    Ident("Float64"),
    RParen,
    Do,
    Ident("printLn"),
    LParen,
    Ident("value"),
    RParen,
    Semi,
    When,
    Ident("None"),
    Do,
    Ident("printLn"),
    LParen,
    String("FAIL"),
    RParen,
    Semi,
    End,
    Case,
    Semi,
    Ident("print"),
    LParen,
    String("    Int32(0) = "),
    RParen,
    Semi,
    Case,
    Ident("toFloat64"),
    LParen,
    Decimal(0),
    Colon,
    Ident("Int32"),
    RParen,
    Of,
    When,
    Ident("Some"),
    LParen,
    Ident("value"),
    Colon,
    Ident("Float64"),
    RParen,
    Do,
    Ident("printLn"),
    LParen,
    Ident("value"),
    RParen,
    Semi,
    When,
    Ident("None"),
    Do,
    Ident("printLn"),
    LParen,
    String("FAIL"),
    RParen,
    Semi,
    End,
    Case,
    Semi,
    Ident("print"),
    LParen,
    String("    Int64(0) = "),
    RParen,
    Semi,
    Case,
    Ident("toFloat64"),
    LParen,
    Decimal(0),
    Colon,
    Ident("Int64"),
    RParen,
    Of,
    When,
    Ident("Some"),
    LParen,
    Ident("value"),
    Colon,
    Ident("Float64"),
    RParen,
    Do,
    Ident("printLn"),
    LParen,
    Ident("value"),
    RParen,
    Semi,
    When,
    Ident("None"),
    Do,
    Ident("printLn"),
    LParen,
    String("FAIL"),
    RParen,
    Semi,
    End,
    Case,
    Semi,
    Return,
    Nil,
    Semi,
    End,
    Semi,
    Function,
    Ident("main"),
    LParen,
    RParen,
    Colon,
    Ident("ExitCode"),
    Is,
    Ident("toFloat32Test"),
    LParen,
    RParen,
    Semi,
    Ident("toFloat64Test"),
    LParen,
    RParen,
    Semi,
    Return,
    Ident("ExitSuccess"),
    LParen,
    RParen,
    Semi,
    End,
    Semi,
    End,
    Module,
    Body,
    Period,
]
