[
    Pragma,
    Ident("Unsafe_Module"),
    Semi,
    Module,
    Body,
    Ident("Test"),
    Is,
    Pragma,
    Ident("Foreign_Import"),
    LParen,
    Ident("External_Name"),
    ArrowRight,
    String("puts"),
    RParen,
    Semi,
    Function,
    Ident("Put"),
    LParen,
    Ident("str"),
    Colon,
    SpanRead,
    LBracket,
    Ident("Nat8"),
    Comma,
    Ident("Static"),
    RBracket,
    RParen,
    Colon,
    Ident("Int32"),
    Is,
    End,
    Semi,
    Function,
    Ident("main"),
    LParen,
    RParen,
    Colon,
    Ident("ExitCode"),
    Is,
    Ident("Put"),
    LParen,
    String("Start"),
    RParen,
    Semi,
    For,
    Ident("i"),
    From,
    Decimal(0),
    To,
    Decimal(10),
    Do,
    If,
    Ident("i"),
    Eq,
    Decimal(0),
    Then,
    Ident("Put"),
    LParen,
    String("0"),
    RParen,
    Semi,
    End,
    If,
    Semi,
    If,
    Ident("i"),
    Eq,
    Decimal(1),
    Then,
    Ident("Put"),
    LParen,
    String("1"),
    RParen,
    Semi,
    End,
    If,
    Semi,
    If,
    Ident("i"),
    Eq,
    Decimal(2),
    Then,
    Ident("Put"),
    LParen,
    String("2"),
    RParen,
    Semi,
    End,
    If,
    Semi,
    If,
    Ident("i"),
    Eq,
    Decimal(3),
    Then,
    Ident("Put"),
    LParen,
    String("3"),
    RParen,
    Semi,
    End,
    If,
    Semi,
    If,
    Ident("i"),
    Eq,
    Decimal(4),
    Then,
    Ident("Put"),
    LParen,
    String("4"),
    RParen,
    Semi,
    End,
    If,
    Semi,
    If,
    Ident("i"),
    Eq,
    Decimal(5),
    Then,
    Ident("Put"),
    LParen,
    String("5"),
    RParen,
    Semi,
    End,
    If,
    Semi,
    If,
    Ident("i"),
    Eq,
    Decimal(6),
    Then,
    Ident("Put"),
    LParen,
    String("6"),
    RParen,
    Semi,
    End,
    If,
    Semi,
    If,
    Ident("i"),
    Eq,
    Decimal(7),
    Then,
    Ident("Put"),
    LParen,
    String("7"),
    RParen,
    Semi,
    End,
    If,
    Semi,
    If,
    Ident("i"),
    Eq,
    Decimal(8),
    Then,
    Ident("Put"),
    LParen,
    String("8"),
    RParen,
    Semi,
    End,
    If,
    Semi,
    If,
    Ident("i"),
    Eq,
    Decimal(9),
    Then,
    Ident("Put"),
    LParen,
    String("9"),
    RParen,
    Semi,
    End,
    If,
    Semi,
    If,
    Ident("i"),
    Eq,
    Decimal(10),
    Then,
    Ident("Put"),
    LParen,
    String("10"),
    RParen,
    Semi,
    End,
    If,
    Semi,
    End,
    For,
    Semi,
    Ident("Put"),
    LParen,
    String("End"),
    RParen,
    Semi,
    Return,
    Ident("ExitSuccess"),
    LParen,
    RParen,
    Semi,
    End,
    Semi,
    End,
    Module,
    Body,
    Period,
]
