[
    Pragma,
    Ident("Unsafe_Module"),
    Semi,
    Module,
    Body,
    Ident("Test"),
    Is,
    Pragma,
    Ident("Foreign_Import"),
    LParen,
    Ident("External_Name"),
    ArrowRight,
    String("putchar"),
    RParen,
    Semi,
    Function,
    Ident("Put_Character"),
    LParen,
    Ident("character"),
    Colon,
    Ident("Nat8"),
    RParen,
    Colon,
    Ident("Int32"),
    Is,
    End,
    Semi,
    Function,
    Ident("main"),
    LParen,
    RParen,
    Colon,
    Ident("ExitCode"),
    Is,
    Ident("printLn"),
    LParen,
    Nil,
    RParen,
    Semi,
    Ident("printLn"),
    LParen,
    False,
    RParen,
    Semi,
    Ident("printLn"),
    LParen,
    True,
    RParen,
    Semi,
    Ident("printLn"),
    LParen,
    Ident("maximum_nat8"),
    RParen,
    Semi,
    Ident("printLn"),
    LParen,
    Ident("maximum_nat16"),
    RParen,
    Semi,
    Ident("printLn"),
    LParen,
    Ident("maximum_nat32"),
    RParen,
    Semi,
    Ident("printLn"),
    LParen,
    Ident("maximum_nat64"),
    RParen,
    Semi,
    Ident("printLn"),
    LParen,
    Ident("minimum_int8"),
    RParen,
    Semi,
    Ident("printLn"),
    LParen,
    Ident("minimum_int16"),
    RParen,
    Semi,
    Ident("printLn"),
    LParen,
    Ident("minimum_int32"),
    RParen,
    Semi,
    Ident("printLn"),
    LParen,
    Ident("minimum_int64"),
    RParen,
    Semi,
    Ident("printLn"),
    LParen,
    Ident("maximum_int8"),
    RParen,
    Semi,
    Ident("printLn"),
    LParen,
    Ident("maximum_int16"),
    RParen,
    Semi,
    Ident("printLn"),
    LParen,
    Ident("maximum_int32"),
    RParen,
    Semi,
    Ident("printLn"),
    LParen,
    Ident("maximum_int64"),
    RParen,
    Semi,
    Ident("printLn"),
    LParen,
    Float(3.14),
    Colon,
    Ident("Float64"),
    RParen,
    Semi,
    Ident("printLn"),
    LParen,
    Float(3.14),
    Colon,
    Ident("Float64"),
    RParen,
    Semi,
    Ident("printLn"),
    LParen,
    String(""),
    RParen,
    Semi,
    Ident("printLn"),
    LParen,
    String("Hello, world!"),
    RParen,
    Semi,
    Return,
    Ident("ExitSuccess"),
    LParen,
    RParen,
    Semi,
    End,
    Semi,
    End,
    Module,
    Body,
    Period,
]
