[
    TripleString("\nModule interface docstring.\n"),
    Module,
    Ident("Test"),
    Is,
    TripleString("\n    Public constant docstring.\n    "),
    Constant,
    Ident("pi"),
    Colon,
    Ident("Float64"),
    Semi,
    TripleString("\n    Public record docstring.\n    "),
    Record,
    Ident("Vec2"),
    Colon,
    Universe(Free),
    Is,
    TripleString("\n        Record slot.\n        "),
    Ident("x"),
    Colon,
    Ident("Float32"),
    Semi,
    Ident("y"),
    Colon,
    Ident("Float32"),
    Semi,
    End,
    Semi,
    TripleString("\n    Public union docstring.\n    "),
    Union,
    Ident("Color"),
    Colon,
    Universe(Free),
    Is,
    TripleString("\n        Union case.\n        "),
    Case,
    Ident("Red"),
    Semi,
    Case,
    Ident("Green"),
    Semi,
    Case,
    Ident("Blue"),
    Is,
    TripleString("\n            Union case slot.\n            "),
    Ident("value"),
    Colon,
    Ident("Int32"),
    Semi,
    End,
    Semi,
    TripleString("\n    Public typeclass docstring.\n    "),
    TypeClass,
    Ident("Fooable"),
    LParen,
    Ident("T"),
    Colon,
    Universe(Free),
    RParen,
    Is,
    TripleString("\n        Public method.\n        "),
    Method,
    Ident("foo"),
    LParen,
    Ident("value"),
    Colon,
    Ident("T"),
    RParen,
    Colon,
    Ident("Unit"),
    Semi,
    End,
    Semi,
    TripleString("\n    Public instance docstring.\n    "),
    Instance,
    Ident("Fooable"),
    LParen,
    Ident("Int32"),
    RParen,
    Semi,
    TripleString("\n    Public function docstring.\n    "),
    Function,
    Ident("main"),
    LParen,
    RParen,
    Colon,
    Ident("ExitCode"),
    Semi,
    End,
    Module,
    Period,
]
