[
    TripleString("\nModule body docstring.\n"),
    Module,
    Body,
    Ident("Test"),
    Is,
    TripleString("\n    Private constant docstring.\n    "),
    Constant,
    Ident("pi"),
    Colon,
    Ident("Float64"),
    Assign,
    Float(3.14),
    Semi,
    TripleString("\n    Private record docstring.\n    "),
    Record,
    Ident("Vec3"),
    Colon,
    Universe(Free),
    Is,
    TripleString("\n        Record slot.\n        "),
    Ident("x"),
    Colon,
    Ident("Float32"),
    Semi,
    Ident("y"),
    Colon,
    Ident("Float32"),
    Semi,
    Ident("z"),
    Colon,
    Ident("Float32"),
    Semi,
    End,
    Semi,
    TripleString("\n    Priate union docstring.\n    "),
    Union,
    Ident("Monochrome"),
    Colon,
    Universe(Free),
    Is,
    TripleString("\n        Union case.\n        "),
    Case,
    Ident("White"),
    Is,
    TripleString("\n            Union case slot.\n            "),
    Ident("value"),
    Colon,
    Ident("Nat8"),
    Semi,
    Case,
    Ident("Black"),
    Semi,
    End,
    Semi,
    TripleString("\n    Private typeclass docstring.\n    "),
    TypeClass,
    Ident("Derpable"),
    LParen,
    Ident("T"),
    Colon,
    Universe(Free),
    RParen,
    Is,
    TripleString("\n        Private method.\n        "),
    Method,
    Ident("derp"),
    LParen,
    Ident("value"),
    Colon,
    Ident("T"),
    RParen,
    Colon,
    Ident("Unit"),
    Semi,
    End,
    Semi,
    TripleString("\n    Instance definition docstring.\n    "),
    Instance,
    Ident("Fooable"),
    LParen,
    Ident("Int32"),
    RParen,
    Is,
    TripleString("\n        Method definition.\n        "),
    Method,
    Ident("foo"),
    LParen,
    Ident("value"),
    Colon,
    Ident("Int32"),
    RParen,
    Colon,
    Ident("Unit"),
    Is,
    Return,
    Nil,
    Semi,
    End,
    Semi,
    End,
    Semi,
    TripleString("\n    Function definition docstring.\n    "),
    Function,
    Ident("main"),
    LParen,
    RParen,
    Colon,
    Ident("ExitCode"),
    Is,
    Return,
    Ident("ExitSuccess"),
    LParen,
    RParen,
    Semi,
    End,
    Semi,
    End,
    Module,
    Body,
    Period
]
