[
    Pragma,
    Ident("Unsafe_Module"),
    Semi,
    Module,
    Body,
    Ident("Test"),
    Is,
    Pragma,
    Ident("Foreign_Import"),
    LParen,
    Ident("External_Name"),
    ArrowRight,
    String("putchar"),
    RParen,
    Semi,
    Function,
    Ident("Put_Character"),
    LParen,
    Ident("character"),
    Colon,
    Ident("Nat8"),
    RParen,
    Colon,
    Ident("Int32"),
    Is,
    End,
    Semi,
    Function,
    Ident("main"),
    LParen,
    RParen,
    Colon,
    Ident("ExitCode"),
    Is,
    Let,
    Ident("c"),
    Colon,
    Ident("Nat8"),
    Assign,
    Embed,
    LParen,
    Ident("Nat8"),
    Comma,
    String("$1 + $2"),
    Comma,
    Decimal(90),
    Comma,
    Decimal(7),
    RParen,
    Semi,
    Ident("Put_Character"),
    LParen,
    Ident("c"),
    RParen,
    Semi,
    Return,
    Ident("ExitSuccess"),
    LParen,
    RParen,
    Semi,
    End,
    Semi,
    End,
    Module,
    Body,
    Period,
]
