[
    Pragma,
    Ident("Unsafe_Module"),
    Semi,
    Module,
    Body,
    Ident("Test"),
    Is,
    Pragma,
    Ident("Foreign_Import"),
    LParen,
    Ident("External_Name"),
    ArrowRight,
    String("putchar"),
    RParen,
    Semi,
    Function,
    Ident("Put_Character"),
    LParen,
    Ident("character"),
    Colon,
    Ident("Nat8"),
    RParen,
    Colon,
    Ident("Int32"),
    Is,
    End,
    Semi,
    Function,
    Ident("main"),
    LParen,
    RParen,
    Colon,
    Ident("ExitCode"),
    Is,
    Let,
    Ident("size"),
    Colon,
    Ident("ByteSize"),
    Assign,
    SizeOf,
    LParen,
    Ident("Nat8"),
    RParen,
    Semi,
    If,
    Ident("size"),
    NotEq,
    Decimal(1),
    Then,
    Ident("Put_Character"),
    LParen,
    Char('f'),
    RParen,
    Semi,
    End,
    If,
    Semi,
    Return,
    Ident("ExitSuccess"),
    LParen,
    RParen,
    Semi,
    End,
    Semi,
    End,
    Module,
    Body,
    Period,
]
